html,body{width: 1622px;}
/*顶部不再提醒样式*/
#noMoreReminder{font: 12px/35px Microsoft Yahei;background-color: #f3f3f3; width: 100%; }
#noMoreReminder #noMoreReminder_content{width: 1205px;position: relative; margin: 0 auto;}
#noMoreReminder #noMoreReminder_content a{color: #21A557;}
#noMoreReminder #noMoreReminder_content #noReminderButton{position: absolute;right: 0;}

/*banner样式*/
#banner{width: 100%;}
#banner #banner_nav{position:relative; width: 1205px; font: 12px Simsun; line-height: 28px; margin: 30px auto; height: 30px; vertical-align: middle;}
#banner #banner_nav .edu{font: 28px Gill Sans MT;}
#banner #banner_nav .edu span{color:#39A030; font-weight: bold;}
#banner #banner_nav .guanzhu{display: inline-block; margin: auto 30px; font:12px/21px Simsun; color: white; width: 54px; height: 21px; background-color: #21A557; text-align: center;}
#banner #banner_nav .threeproduct,#banner #banner_nav .threeproduct ul li{display: inline-block;}
#banner #banner_nav .threeproduct{position: absolute;right: 0;}

#banner #banner_threeproducts{width: 1205px; margin: 30px auto;}
#banner #banner_threeproducts ul li{display: inline-block;width: 399px; vertical-align: top; position: relative;}
#banner #banner_threeproducts ul li img,#banner #banner_threeproducts ul li div{display: inline-block;}
#banner #banner_threeproducts ul li img{position: absolute;top: 0;}
#banner #banner_threeproducts ul li div{width: 250px; font: 14px/1.14 Microsoft Yahei; margin-left:100px }
#banner #banner_threeproducts ul li div p:first-child{font-size: 22px; margin-bottom:20px; }
#banner #banner_threeproducts ul li div p:last-child{color:#39A030; margin-top: 33px;}

#banner #banner_workEnvi{width: 100%}
#banner #banner_workEnvi ul li{display: inline-block;}

/*course样式*/
#course{width: 1205px; margin: 80px auto; position: relative;}
/*course主栏*/
#course #main{width: 965px; position: relative; float: left; margin-right: 20px;}
#course #main #tab div{display: inline-block;width:200px; height: 50px; font: 20px/50px Microsoft Yahei;box-shadow: 1px 2px 1px #D4D3D3; background-color: #39A030; text-align: center; float: left;}
#course #main #tab:after{content: '.';display: block;clear: both;visibility: hidden;height: 0;overflow: none;}
/*翻页样式*/
#course #main #pageNo{display: inline-block;position:absolute; right: 0; bottom: 0;}
#course #main #pageNo ul li{display: inline-block; margin: 10px; font: 14px Microsoft Yahei;}
#course #main #pageNo ul li.direct,#course #main #pageNo ul li.clicked{ background-color: rgba(57,160,48,0.5); color: rgba(255,255,255,0.8); height: 20px;width: 30px;text-align: center;}
#course #main #pageNo ul li.clicked{width: 20px;}

/*course侧栏*/
#course #side{width: 220px; overflow: hidden;}
#course #side #side_jigouIntro{height: 230px;border: 1px solid #D4D3D3; border-top: none; margin-bottom: 20px;}
#course #side span{display:block; border-bottom: 1px solid #D4D3D3;  font: 16px/55px Microsoft Yahei; height: 55px; padding-left: 22px; color: #333;}
#course #side #side_jigouIntro #side_jigouIntro_video{padding-left: 22px;}
#course #side #side_jigouIntro #side_jigouIntro_video p{margin: 21px 0 9px; font-size: 14px; color:#666; }

#course #side #side_hotlist{height: 780px;border: 1px solid #D4D3D3; border-top: none;}